---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import ExperienceComponent from '../components/Experience.astro';
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<Layout title="Experiencia - Javier Castro"
description="Experiencia"
keywords="Portfolio, Javier Castro Retamal, Desarrollador Web, Diseño Web, Aplicaciones Web"
author="Javier Castro Retamal">
	<div class="min-h-screen inset-0 -z-10 h-full w-full items-center px-5 py-1 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
	title="Experiencia">
		<div class="container mx-auto px-2 py-2">
			<div class="mb-2">
				<a href="/" class="inline-flex items-center text-white hover:text-amber-300 transition duration-300">
					<svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
					</svg>
					Volver al inicio
				</a>
			</div>
			<Experience />
		</div>
	</div>
</Layout>


<script>
	import '../scripts/animations.js';
</script>

