---
interface Props {
    date: string;
    title: string;
    description: string;
    link?: string;
}

const { date, title, description, link }: Props = Astro.props;
---

<li class="mobile-mb ms-4 hover:bg-white/10 transition-all duration-300 border-white/80 rounded-lg p-3 xs:p-4">
    <div class="absolute w-2 h-2 xs:w-3 xs:h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
    <time class="mobile-mb mobile-text-xs xs:mobile-text-sm font-normal leading-none text-sky-100/80">{date}</time>
    <h3 class="mobile-text-base xs:mobile-text-lg font-semibold text-amber-100 dark:text-amber-100 mobile-mt text-pretty prose prose-sm">{title}</h3>
    <p class="mobile-sm mobile-text-sm xs:mobile-text-base font-normal text-gray-300 text-pretty prose prose-base">{description}</p>

</li>