---
const { className, id } = Astro.props;
import CodeIcon from "./icons/Code.astro";
---

<section
    id="projects"
    class="projects-section min-h-screen flex items-center bg-black dark:bg-gray-900 relative overflow-hidden transition-colors duration-300 mobile-px">
    <slot />
</section>
